### 1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.

##### * -> Expression
##### 'hello' -> Value
##### -87.8 -> Value
##### - -> Expression
##### / -> Expression
##### + -> Expression
##### 6 -> Value

### 2. What is the difference between string and variable?

##### => A string is a datatype which has fixed sequence of characters. 
##### => Whereas, a variable is a value that is assigned dynamically. A variable can be a string, integer, float, boolean, etc.

### 3. Describe three different datatypes

##### i. String -  String datatype can be used to represent characters, words or even sentences. It is defined within "".

##### ii. Integer -  It is a numeric datatype which is used to represent whole numbers. For example, num = 10

##### iii. Boolean -  This dataype has only two values: True or False. It can be used to store values of expressions, and also can be used in conditional programming

### 4. What is an expression made up of? What do all expressions do?

##### =>Expressions are made of operators and operands. The operators are the operands contain the value, and the operators contain the function that is to be performed upon those values.  Expressions are generally used to return an end value for a set of operations. They can also be used to check conditions using logical operators.

In [2]:
### Expression example
8*9+12-10

74

In [3]:
### Expression example
2 < 10

True

### 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

##### => Assignment statements are defined to create a new variable or assign any value to a variable. It can be integer, string, float or boolean.
##### For example: name = "Sudharsan"

##### => While expressions are used to perform multiple operations and give the result as the output.
##### For example: 10*(12+13)

### 6. After running the following code, what does the variable bacon contain?
bacon = 22

bacon + 1

#### Value of bacon variable will be: 23

### 7. What should the values of the following two terms be?
"spam" + "spamspam"

"spam"*3

##### Both variables will contain the value: spamspamspam

### 8. Why is eggs a valid variable name while 100 is invalid?

##### Variable names should start with a string. It can contain integers, but variables should not start with an integer. This is the reason why, "eggs" is a valid variable name. while 100 is not.

### 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

In [16]:
num = 10
### For getting the integer value
int(num)

10

In [18]:
### For getting the floating-point number
float(num)

10.0

In [19]:
### For getting the string
str(num)

'10'

### 10. Why does this expression cause an error? How can you fix it?
'I have eaten' + 99 + 'burritos'

##### This expression causes an error because, concatenation can only be done with similar datatypes. But in the above expression we are trying to concatenate an integer with 2 string. So it causes an error. We can fix this in two ways.

In [23]:
### 1. We can change the integer to string
"I have eaten " + "99" + " burritos"

'I have eaten 99 burritos'

In [25]:
### 2. We can use string formatting
n = 99
f"I have eaten {n} burritos"

'I have eaten 99 burritos'