#### Question 1
* Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
* Examples
1. is_symmetrical(7227) ➞ True
2. is_symmetrical(12567) ➞ False
3. is_symmetrical(44444444) ➞ True
4. is_symmetrical(9939) ➞ False
5. is_symmetrical(1112111) ➞ True

In [1]:
def is_symmetrical(n):
    num=str(n)
    if num==num[::-1]:
        return True
    else:
        return False

In [2]:
is_symmetrical(7227)

True

In [3]:
is_symmetrical(12345)

False

#### Question 2
* Given a string of numbers separated by a comma and space, return the product of the numbers.
* Examples
1. multiply_nums(&quot;2, 3&quot;) ➞ 6
2. multiply_nums(&quot;1, 2, 3, 4&quot;) ➞ 24
3. multiply_nums(&quot;54, 75, 453, 0&quot;) ➞ 0
4. multiply_nums(&quot;10, -2&quot;) ➞ -20

In [10]:
import re
def multiply_nums(string):
    lst=re.split(" |,",string)
    sum_of_n=1
    for i in lst:
        sum_of_n*=int(i)
    return sum_of_n

In [11]:
multiply_nums("2,3")

6

In [13]:
multiply_nums("1,2,3,4")

24

In [14]:
multiply_nums("1,2 3 4")

24

#### Question 3
* Create a function that squares every digit of a number.
* Examples
1. square_digits(9119) ➞ 811181
2. square_digits(2483) ➞ 416649
3. square_digits(3212) ➞ 9414
* Notes
1. The function receives an integer and must return an integer.

In [15]:
def square_digits(num):
    num_s=str(num)
    square=""
    for i in num_s:
        square+= str(int(i)**2)
    return int(square)

In [16]:
square_digits(9119)

811181

In [17]:
square_digits(2583)

425649

#### Question 4
* Create a function that sorts a list and removes all duplicate items from it.
* Examples
1. setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]
2. setify([4, 4, 4, 4]) ➞ [4]
3. setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]
4. setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]

In [18]:
def setify(lst):
    return list(set(sorted(lst)))

In [19]:
setify([1,3,3,5,5])

[1, 3, 5]

In [20]:
setify([4,4,4,4])

[4]

In [21]:
setify([10,120,130,402,10,203,130])

[130, 10, 203, 402, 120]

#### Question 5
* Create a function that returns the mean of all digits.
* Examples
1. mean(42) ➞ 3
2. mean(12345) ➞ 3
3. mean(666) ➞ 6
* Notes
1. The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).
2. The mean will always be an integer.

In [24]:
def mean(n):
    num=str(n)
    sum_of_dig=0
    for i in num:
        sum_of_dig+=int(i)
    return sum_of_dig//len(num)

In [25]:
mean(42)

3

In [26]:
mean(12345)

3

In [27]:
mean(777)

7