#### Question1
* Create a function that takes a list of strings and integers, and filters out the list so that it returns a list of integers only.
* Examples
1. filter_list([1, 2, 3, &quot;a&quot;, &quot;b&quot;, 4]) ➞ [1, 2, 3, 4]
2. filter_list([&quot;A&quot;, 0, &quot;Edabit&quot;, 1729, &quot;Python&quot;, &quot;1729&quot;]) ➞ [0, 1729]
3. filter_list([&quot;Nothing&quot;, &quot;here&quot;]) ➞ []

In [9]:
def filter_list(lst):
    new_list=[]
    for i in lst:
        if type(i)==int:
            new_list.append(i)
    return new_list

In [10]:
filter_list([1,2,3,"a","b",5])

[1, 2, 3, 5]

In [11]:
filter_list(["a",True,[12.34],12,34])

[12, 34]

#### Question2
1. Given a list of numbers, create a function which returns the list but with each element&#39;s index in the list added to itself. This means you add 0 to the number at index 0, add 1 to the number at index 1, etc...
* Examples
1. add_indexes([0, 0, 0, 0, 0]) ➞ [0, 1, 2, 3, 4]
2. add_indexes([1, 2, 3, 4, 5]) ➞ [1, 3, 5, 7, 9]
3. add_indexes([5, 4, 3, 2, 1]) ➞ [5, 5, 5, 5, 5]

In [12]:
def add_indexes(lst):
    new_lst=[]
    for i,k in enumerate(lst):
        new_lst.append(i+k)
    return new_lst

In [13]:
add_indexes([0,0,0,0])

[0, 1, 2, 3]

In [14]:
add_indexes([12,23,34,45,56])

[12, 24, 36, 48, 60]

#### Question3
1. Create a function that takes the height and radius of a cone as arguments and returns the volume of the cone rounded to the nearest hundredth. See the resources tab for the formula.
* Examples
1. cone_volume(3, 2) ➞ 12.57
2. cone_volume(15, 6) ➞ 565.49
3. cone_volume(18, 0) ➞ 0

In [15]:
import math
def cone_volume(h,r):
    return round(math.pi*(r**2)*(h/3),2)

In [16]:
cone_volume(3,2)

12.57

In [17]:
cone_volume(15,6)

565.49

In [18]:
cone_volume(18,0)

0.0

#### Question4
1. This Triangular Number Sequence is generated from a pattern of dots that form a triangle. The first 5 numbers of the sequence, or dots, are:
1. 1, 3, 6, 10, 15
* This means that the first triangle has just one dot, the second one has three dots, the third one has 6 dots and so on.
* Write a function that gives the number of dots with its corresponding triangle number of the sequence.
* Examples
1. triangle(1) ➞ 1
2. triangle(6) ➞ 21
3. triangle(215) ➞ 23220

In [19]:
def triangle(pos):
    if pos==1:
        return 1
    else:
        return triangle(pos-1)+pos

In [20]:
triangle(1)

1

In [21]:
triangle(6)

21

In [22]:
triangle(215)

23220

#### Question5
* Create a function that takes a list of numbers between 1 and 10 (excluding one number) and returns the missing number.
* Examples
1. missing_num([1, 2, 3, 4, 6, 7, 8, 9, 10]) ➞ 5
2. missing_num([7, 2, 3, 6, 5, 9, 1, 4, 8]) ➞ 10
3. missing_num([10, 5, 1, 2, 4, 6, 8, 3, 9]) ➞ 7

In [25]:
def missing_num(lst):
    for i in range(1,11):
        if i not in lst:
            return i
            break

In [26]:
missing_num([1,2,3,5,6,7,8,9,10])

4

In [28]:
missing_num([1,2,4,5,6,7,8,9,10])

3

In [29]:
missing_num([10,2,3,5,4,1,8,7,6])

9